
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
ESTRUCTURA.md
.env

# Auth
tests/e2e/auth/noAuth.json/
tests/e2e/auth/adminAuth.json/
tests/e2e/auth/supervisorAuth.json/
tests/e2e/auth/jefeAuth.json/
tests/e2e/auth/empleadoAuth.json/
